<section class="grid justify-items-center h-screen w-screen p-8">
  <div class="grid w-4/5 justify-items-center md:grid-cols-2 lg:grid-cols-5 gap-8">
    
    <ng-container *ngIf="request$ | async as request">
      {{ request[0].id }}
    </ng-container>

    <!-- Card -->
    <div *ngFor="let item of cardsAmount; index as i">
      <div
        class="bg-white rounded-md border shadow-md h-[26rem] w-full max-w-xs md:max-w-none overflow-hidden drop-shadow-lg shadow-gray-60000">
        <div class="grid justify-center">
          <img class="h-48 max-h-48 object-scale-down p-3" src="https://cdn.pixabay.com/photo/2017/01/31/15/33/linux-2025130_1280.png"
            alt="" />
        </div>
        <div class="w-full flex flex-row text-gray-200 h-8 font-bold text-center align-middle -skew-x-12">
          <div class="w-1/4 bg-green-700">
            <p class="p-1">
              90
            </p>
          </div>
          <div class="w-1/4 bg-blue-700">75</div>
          <div class="w-1/4 bg-orange-700">80</div>
          <div class="w-1/4 bg-red-700">95</div>
        </div>
        <div class="text-center grid justify-items-center">
          <h3 class="font-bold text-xl text-gray-700 -skew-x-12">
            Card 1
          </h3>
          <div class="w-11/12 h-full shadow-inner rounded-md shadow-teal-300 rounder p-3">
            <p class="paragraph-normal text-gray-600">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
              dolore magna aliqua.
            </p>
          </div>
        </div>
      </div>
    </div>

  </div>
</section>