<div class="w-full flex justify-start">
    <div class="w-full lg:w-auto bg-orange-100 border-b-4 shadow-md border-red-700 lg:rounded-br-full lg:pr-10">
        <nav class="flex justify-center lg:justify-start">
            <div class="flex flex-row justify-center m-4 text-center text-gray-500">
                <a routerLink="/deck" class="mx-8 hover:text-red-700"> Deck </a>
                <a href="enter-code" class="mx-8 hover:text-red-400"> Enter code </a>
            </div>
        </nav>
    </div>
</div>